@import "../variables";

#layout {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 10px 10px 10px;
    .logo {
      color: #000000;
      font-size: 2.1rem;
      font-weight: bold;
      user-select: none;
    }
    nav {
      margin-top: auto;
      ul {
        display: flex;
        justify-content: flex-start;
        font-size: 1.4rem;
        li {
          margin: 0 0.7rem;
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  main {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
  }
  footer {
    font-size: 0.7rem;
    text-align: center;
  }
}
