#layout {
  margin: 10px 5px;
  header {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
  }
  nav {
    margin-top: 10px;
    ul {
      display: flex;
      justify-content: flex-start;
      list-style: none;
      font-size: 1.2rem;
      padding: 0;
    }
    li {
      margin: 0 10px;
      a {
        color: #242424;
      }
    }
  }
  footer {
    font-size: 0.7rem;
    text-align: center;
  }
  main {
    max-width: 1080px;
    margin: auto;
  }
}
