---
import Base from "@/layouts/Base.astro";
---

<Base title="Blog" slug="/blog">
  <h1 class="text-[2.5rem]">Tag</h1>
  <ul class="list-inside list-disc mt-8">
    <b>TODO: add tag list</b>
  </ul>
</Base>
