---
import { allBlogTagList } from "@/content";
import Base from "@/layouts/Base.astro";

const sortedAllBlogTagList = [...allBlogTagList]
  .sort((a, b) => a.name.localeCompare(b.name))
  .sort((a, b) => b.count - a.count);
---

<Base title="Blog.Tag" type="website" noindex={true}>
  <h1>
    <span class="text-[1.6rem]"><a href="/blog/">Blog</a>.</span>
    <span class="text-[2.5rem]">Tag</span>
  </h1>
  <ul class="mt-8 list-inside list-disc">
    {
      sortedAllBlogTagList.map(({ name, count }) => (
        <li>
          <a
            href={`/blog/tag/${name.replace("#", "%23")}/`}
          >{`${name}(${count})`}</a>
        </li>
      ))
    }
  </ul>
</Base>
