#markdown {
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    border-bottom: solid 2.5px #e3e3e3;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.7;
    margin: 1rem 0;
  }
  a {
    color: #0969da;
    text-decoration: none;
  }
  code {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  }
  ul {
    list-style: inside;
    list-style-type: disc;
    ul,
    ol {
      margin-left: 1.2rem;
    }
  }
  ol {
    list-style: inside;
    list-style-type: decimal;
    ul,
    ol {
      margin-left: 1.2rem;
    }
  }
  li {
    line-height: 1.5;
  }
  blockquote {
    margin: 0;
    padding: 0 1rem;
    color: #57606a;
    border-left: 0.25em solid #d0d7de;
  }
  details {
    summary {
      font-weight: bold;
      cursor: pointer;
    }
  }
  img {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
    white-space: nowrap;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    line-height: 1.15;
    tr {
      background-color: #ffffff;
      border-top: 1px solid #d5dbe2;
      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }
    th {
      font-weight: bold;
      padding: 0.5rem;
      border: 1px solid #d0d7de;
    }
    td {
      padding: 0.5rem;
      border: 1px solid #d0d7de;
    }
  }
  .footnotes {
    margin-top: 3rem;
    hr {
      height: 1px;
      background-color: #646464;
      border: none;
    }
    li p {
      display: inline-block;
      margin: 0.1rem;
    }
  }
}
