---
import Base from "@/layouts/Base.astro";
---

<Base title="404: Not Found" slug="/404">
  <h1
    class="flex flex-col content-center justify-center text-[3rem] my-20 mx-0 text-black"
  >
    <span class="text-center">404</span>
    <span class="text-center">Not Found</span>
  </h1>
</Base>
