---
import Base from "@/layouts/Base.astro";
---

<Base title="404: Not Found" slug="/404/">
  <h1
    class="mx-0 my-20 flex flex-col content-center justify-center text-[3rem] text-black"
  >
    <span class="text-center">404</span>
    <span class="text-center">Not Found</span>
  </h1>
</Base>
