---
import ContentBlock from "@/components/ContentBlock.astro";
import Base from "@/layouts/Base.astro";
---

<Base title="About" type="website">
  <h1 class="text-[2.5rem]">About</h1>
  <div class="mt-8 flex flex-col gap-8 [&_a]:text-[#0969da]">
    <ContentBlock title="このサイトについて">
      <div>
        <p>
          このサイトは <a href="https://astro.build/">Astro.js</a> を用いて作成し、<a
            href="https://pages.github.com/">GitHub Pages</a
          > にてホスティングしています。
        </p>
        <p>
          GitHub リポジトリは <a
            href="https://github.com/ryota2357/ryota2357.com"
            >https://github.com/ryota2357/ryota2357.com</a
          > です。
        </p>
        <p class="pt-2">
          このウェブサイトは、私 ryota2357
          が個人として運営しているものであり、掲載されている内容はすべて個人的な意見や情報に基づいています。
          当サイトに記載されている内容や見解は、私の所属する組織や団体とは一切関係がなく、それらを代表するものではありません。
        </p>
      </div>
    </ContentBlock>
    <ContentBlock title="生成AIの利用について">
      <div>
        <p>
          このサイトのコンテンツは、注記があるものを除き「<a
            href="https://creativecommons.org/licenses/by/4.0/deed.ja"
            >クリエイティブ・コモンズ 表示 4.0 ライセンス (CC BY 4.0)</a
          >」の下で提供されています。
          このライセンスに従う限りにおいて、当サイトのコンテンツを生成AIの学習データとして利用することに異議はありません。
        </p>
        <p class="pt-2">
          当サイトのブログ記事は、すべて私 ryota2357 自身が執筆しています。
          生成AIは、文章の校正や表現を洗練させるための補助的なツールとしてのみ使用しており、記事の主張や内容を生成するために使用することはありません。
        </p>
      </div>
    </ContentBlock>
    <ContentBlock title="問い合わせ・報告">
      <div>
        <p>
          私の <a href="https://twitter.com/95s7k84695a">Twitter (𝕏)</a> または <a
            href="https://bsky.app/profile/ryota2357.com">Bluesky</a
          > の DM にご連絡ください。<a href="mailto:contact@ryota2357.com"
            >contact@ryota2357.com</a
          > 宛にメールをお送りいただくことも可能ですが、こちらは返信が遅くなる可能性があります。
          また、誤りなどを見つけた場合には報告していただけると大変助かります。<a
            href="https://github.com/ryota2357/ryota2357.com">GitHub</a
          > にて Issue や Pull Request を送っていただくことも可能です。
        </p>
      </div>
    </ContentBlock>
  </div>
</Base>
