---
import Base from "@/layouts/Base.astro";
---

<Base title="Blog" slug="/blog">
  <h1 class="text-[2.5rem]">Blog</h1>
  <p class="my-2 mx-0">
    <a href="/blog/tag">タグの一覧</a>
  </p>
  <div>
    <b>TODO: add blog list</b>
  </div>
</Base>
