---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import ProfileImage from "@/images/profile-pic.png"
import ContentBlock from "@/components/ContentBlock.astro";
---

<Base title="Home" slug="/">
    <div class="flex flex-col items-center gap-2">
      <Image
        src={ProfileImage}
        alt="profile-pic"
        style={{
          position: "relative",
          zIndex: "1",
          width: "200px",
          height: "200px",
          borderRadius: "50%",
        }}
      />
      <p class="font-bold text-[1.6rem]">ryota2357</p>
    </div>
    <div class="flex flex-col gap-8 mt-8">
      <ContentBlock title="Affiliation">
        <ul class="list-inside list-disc [&>li]:py-0.5 [&>li]:px-0">
          <li>電気通信大学 情報理工学域I類 1年</li>
          <li>電気通信大学MMA(サークル)</li>
        </ul>
      </ContentBlock>
      <ContentBlock title="Blog">
        <div class="flex flex-row items-start gap-4">
          <h3 class="flex-none m-0 text-[1.3rem] font-bold">タグ</h3>
          <div class="flex flex-wrap my-auto mx-0">
            <b>TODO: add blog tags</b>
          </div>
        </div>
        <div class="flex flex-row items-start gap-4">
          <h3 class="flex-none m-0 text-[1.3rem] font-bold">更新</h3>
          <div class="flex flex-wrap my-auto mx-0">
            <ul class="list-inside list-disc [&>li]:py-0.5 [&>li]:px-0">
              <b>TODO: add blog updates</b>
            </ul>
          </div>
        </div>
      </ContentBlock>
      <ContentBlock title="Links">
        <ul class="list-inside list-disc [&>li]:py-0.5 [&>li]:px-0">
          <li>
            <a href="https://twitter.com/95s7k84695a">
              Twitter (@95s7k84695a)
            </a>
          </li>
          <li>
            <a href="https://bsky.app/profile/ryota2357.com">
              Bluesky (@ryota2357.com)
            </a>
          </li>
          <li>
            <a href="https://github.com/ryota2357">
              Github (ryota2357)
            </a>
          </li>
          <li>
            <a href="https://atcoder.jp/users/ryota2357">
              AtCoder (ryota2357)
            </a>
          </li>
          <li>
            <a href="https://unityroom.com/users/ryota2357">
              UnityRoom (ryota2357)
            </a>
          </li>
        </ul>
      </ContentBlock>
    </div>
</Base>
