@import "variables";

:root {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "ＭＳ ゴシック", sans-serif;
  background-color: #f6f5f5;
  color: $text-black;
  font-size: 15px;
  line-height: 1.5;
  word-break: break-word;
  @media screen and (max-width: 425px) {
    font-size: 14px;
  }
  @media screen and (max-width: 375px) {
    font-size: 13px;
  }
  @media screen and (max-width: 320px) {
    font-size: 12px;
  }
}
