---
type Props = Record<PropertyKey, never>;
---

<footer class="mt-4 text-center text-[0.7rem]">
  <p>
    Built with{" "}
    <a
      href="https://astro.build/"
      style={{ color: "inherit", fontWeight: "bold" }}
    >
      {Astro.generator}
    </a>
  </p>
  <p>©2022 ryota2357 All Rights Reserved.</p>
</footer>
