---

---

<footer class="text-[0.7rem] text-center mt-4">
  <p>
    Built with{" "}
    <a
      href="https://astro.build/"
      style={{ color: "inherit", fontWeight: "bold" }}
    >
      {Astro.generator}
    </a>
  </p>
  <p>©2022 ryota2357 All Rights Reserved.</p>
</footer>
