---
type Props = {
  slug: string;
};

const { slug } = Astro.props;
---

<header class="mx-3 mb-4 mt-2 flex flex-row flex-wrap justify-between">
  <div
    class="select-none text-[2.1rem] font-bold text-black [&_a:hover]:no-underline"
  >
    <a href="/">ryota2357</a>
  </div>
  <nav class="mt-auto">
    <ul class="flex content-start text-[1.4rem] [&>li]:mx-[0.7rem] [&>li]:my-0">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/works">Works</a>
      </li>
    </ul>
  </nav>
</header>
