@import "../variables";

#works-page {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }
  .table-of-contents {
    ul {
      list-style: inside;
      margin-left: 1rem;
      li {
        ul {
          list-style: square;
          margin-left: 2em;
        }
      }
    }
  }
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.7rem;
    &::before{
      content: "- ";
    }
  }
  .italic {
    font-style: italic;
  }
  .gray {
    color: $text-gray;
  }
  .indent {
    padding-left: 1rem;
  }
  .game-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .time {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: $text-gray;
  }
}
