article {
  background-color: #ffffff;
  box-shadow: 0 0 10px #323232;
  padding: 1.4em;
  .post-front {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 2rem;
    .tags {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      gap: 0.3rem;
      a {
        &:not(:last-child)::after {
          content: ",";
        }
      }
    }
  }
}
